#map { height: 400px; width:1200px;margin:20px 20px 20px 20px;}


div#search {
  background-color: white;
  margin:5px 60px 60px 60px;
  position: absolute;
  left: 40px;
  width: auto;
  height: auto;
  padding: 10px;
}
div#search input {
  width: 200px;
}
div#results {
  font-style: sans-serif;
  color: black;
  font-size: 75%;
}

#fotos{
 margin:60px 60px 60px 60px;
 bottom: 50px;

}

#fotos > img{
 background-color: green;
 }
 
.carousel-inner { text-align: center; }
.carousel .item > img { display: inline-block; }
